body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.subtitle {
    text-align: center;
}


.container {
    padding-bottom: 50px;
}


.degree-selection,
.unit-selection,
.topic-selection {
    width: calc(33.33% - 20px); /* Each dropdown menu takes one-third of the screen width minus some padding */
    margin-right: 20px; /* Add some margin between dropdown menus */
    /*float: left; /* Float the dropdown menus to align them horizontally */
    border: none;
}















/* Adjust width for smaller screens */
@media screen and (max-width: 768px) {
    .degree-selection,
    .unit-selection,
    .topic-selection {
        width: 100%; /* Each dropdown menu takes full width on smaller screens */
        margin-right: 0; /* Reset margin for smaller screens */
        float: none; /* Reset float for smaller screens */
}
}
