
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.subtitle {
    text-align: center;
}

.container {
    padding-bottom: 50px;
}

.selection-container {
    margin-top: 30px;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    align-items: center; /* Center items vertically */
}

.search-bar {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */

}

.search-bar input {
    margin-right: 10px; /* Add some spacing between input and button */
}

.search-bar,
.subtopic-selection,
.topic-selection {
    margin-left: 20px; /* Add margin between dropdown menus and search bar */
    width: calc(33.33% - 20px); /* Each dropdown menu takes one-third of the container minus some padding */
    border: none;
    padding-bottom: 30px;
}

.welcome-text {
    padding-bottom: 50px;
    padding-top: 20px;
    border: 10px double #008080;
    margin-top: 10px;
}

.hidden {
    display: none !important;
}

/* Adjust width for smaller screens */
@media screen and (max-width: 768px) {
    .selection-container {
        flex-wrap: wrap;
    }

    .degree-selection,
    .unit-selection,
    .topic-selection {
        width: 100%; /* Each dropdown menu takes full width on smaller screens */
        margin-right: 0; /* Reset margin for smaller screens */
        float: none; /* Reset float for smaller screens */
}
}

.forum-form select,
.forum-form textarea {
    width: 100%;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .subtopic-selection,
    .search-bar {
        width: 100%;
        margin-top: 10px; /* Adjust margin as needed */
    }

    .subtopic-selection select,
    .search-bar input {
        width: 100%;
        max-width: none; /* Reset max-width */
    }
}
