#user-details {
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.deleteBtn {
    float: right;
}

.editPostBtn {
    float: right;
    font-style: normal;
}

.bio {
    overflow-wrap: break-word;
}

.profileButton {
    padding: 7px 10px;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-style: normal;
}

.profileButton:hover {
    background-color: #006666;
  }

.editPostTextArea {
    max-width: 100%;
}

.post_title {
    word-wrap: break-word;
  }

.comment-text {
    word-wrap: break-word;
}

.post {
    word-wrap: break-word;
}

#bio {
    word-wrap: break-word;
}