#user-details {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#user-details table {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    table-layout: fixed;
    border: 1px solid #333;
}

#profile_intro {
    font-weight: bold;
    font-size: 1.2em; /* Adjust the size as needed */
    color: #008080;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
}

#user-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-details th {
    text-align: right;
    margin: 5px;
    padding: 10px;
    color: #c0502b;
}

#user-details td {
    margin: 5px;
    padding: 10px;
    overflow-wrap: break-word;
}

.deleteBtn {
    float: right;
}

.editPostBtn {
    float: right;
    font-style: normal;
}

.profileButton {
    padding: 7px 10px;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-style: normal;
    margin: 2px;
}

.profileButton:hover {
    background-color: #006666;
  }

.editPostTextArea {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.post_title {
    overflow-wrap: break-word;
  }

.comment-text {
    overflow-wrap: break-word;
}

.post {
    overflow-wrap: break-word;
}

.deleteButtonForModal {
    font-style: normal;
}