/* Base styles */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ECECEC;
  color: #333;
}

.post-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #c0502b; /* Added to match home.css */
}

.post-container h1 {
  color: inherit; /* Use the container's text color */
}

.post-container h3 {
  margin-top: 10px;
  color: #333; /* Use the container's text color */
  margin: 0;
}

.post-container p {
  margin-top: 10px;
  color: #333; /* Use the container's text color */
}

.bolded {
  font-weight: bold;
  color: #c0502b;
}

.comments-section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  
} 

.comment {
  margin-bottom: 20px;
  padding: 5px;
  margin-left: auto; /* Auto left margin */
  margin-right: auto; /* Auto right margin */
  width: 90%;
  border: 2px solid #008080;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333; /* Text color for comments */
}

.comment-form-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#commentsTitle h2 {
  font-size: 1.5em;
  font-weight: bold;
  background-color: #f9f9f9;
  color: #008080;
  padding-bottom: 15px;
  width: 96.5%;
  margin: 0 auto;
}

.comment p {
  align-items: center; /* Center vertically */
  margin: 0;
}

.comment-form-container {
  max-width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-form-container form p {
  margin-bottom: 10px;
  font-weight: bold;
}

.comment-form-container form textarea {
  width: 100%;
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.comment-form-container form button {
  padding: 10px 20px;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.comment-form-container form button:hover {
  background-color: #006666;
}



/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .post-container,
  .comments-container,
  .comment-form-container {
    margin: 10px;
    padding: 10px;
  }

  #comment_text {
    height: 80px;
  }
}

/* Additional styles */
.question-header {
  font-weight: bold;
}

.comments-header {
  font-weight: bold;
  font-size: 1.2em;
}

.comment-number {
  background-color: #008080;
  color: #e7e5e5;
  padding: 5px;
  border-radius: 5px;
  margin: 4px;
}

.comment-content {
  background-color: #008080;
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
}

.comment-number + .comment-content {
  margin-top: 10px;
}

.comment-number::before {
  content: "Comment: ";
  font-weight: bold;
}
