{% include "head.html" %}

<body>
  <header>
    <div class="topnav">
      <a href="/" {% if request.path == "/" %} class="active" {% endif %}>Home</a>
      <a href="/forum" {% if request.path == "/forum" %} class="active" {% endif %}>Forum</a>
      <a href="/post" {% if request.path == "/post" %} class="active" {% endif %}>Post</a>
      <a href="/profile" {% if request.path == "/profile" %} class="active" {% endif %}>Profile</a>
      <div class="search-container">
        <form action="/search" method="GET">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </header>

  <div class="container">
    <h1>StudiVault Forum</h1>
    <p style="text-align: center">Vaulting you to Academic Success</p>

    {% block content %}{% endblock %}
  </div>
</body>