{% extends "base.html" %}

{% block content %}

<div class="container">

    <p>Fill in the details below to create a profile.</p>

    <form>
        <label for="fname" class="form-label">First name:</label><br>
        <input type="text" class="form-control" id="fname" name="fname" required><br>

        <label for="lname" class="form-label">Last name:</label><br>
        <input type="text" class="form-control" id="lname" name="fname" required><br>

        <label for="email" class="form-label">Email:</label><br>
        <input type="email" class="form-control" id="email" name="email" required><br>

        <label for="position" class="form-label">Current position:</label><br>
        <input type="radio" name="position" id="undergrad" class="form-check-input" value="Undergraduate Student">
        <label for="undergrad" class="form-check-label">Undergraduate Student</label><br>
        <input type="radio" name="position" id="postgrad" class="form-check-input" value="Postgraduate Student">
        <label for="postgrad" class="form-check-label">Postgraduate Student</label><br>
        <input type="radio" name="position" id="staff" class="form-check-input" value="Staff">
        <label for="staff" class="form-check-label">Staff</label><br>
        <input type="radio" name="position" id="future" class="form-check-input" value="Future Student">
        <label for="future" class="form-check-label">Future Student</label><br>
        <input type="radio" name="position" id="graduate" class="form-check-input" value="Graduate">
        <label for="graduate" class="form-check-label">Graduate</label><br><br>

        <label for="study" class="form-label">Area(s) of study:</label><br>
        <select id="study" class="form-select" name="study" size="3" required>
            <option value="Accounting">Accounting</option>
            <option value="Agricultural Science">Agricultural Science</option>
            <option value="Anatomy and Human Biology">Anatomy and Human Biology</option>
            <option value="Anthropology">Anthropology</option>
            <option value="Architecture">Architecture</option>
            <option value="Asian Studies">Asian Studies</option>
            <option value="Biochemistry">Biochemistry</option>
            <option value="Botany">Botany</option>
            <option value="Business Law">Business Law</option>
            <option value="Chemical Engineering">Chemical Engineering</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Civil Engineering">Civil Engineering</option>
            <option value="Classical Studies">Classical Studies</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Conservation Biology">Conservation Biology</option>
            <option value="Data Science">Data Science</option>
            <option value="Dentistry">Dentistry</option>
            <option value="Earth Sciences">Earth Sciences</option>
            <option value="Economics">Economics</option>
            <option value="Education">Education</option>
            <option value="Electrical Engineering">Electrical Engineering</option>
            <option value="Environmental Engineering">Environmental Engineering</option>
            <option value="Environmental Science">Environmental Science</option>
            <option value="Finance">Finance</option>
            <option value="French Studies">French Studies</option>
            <option value="Genetics">Genetics</option>
            <option value="Geography">Geography</option>
            <option value="Geology">Geology</option>
            <option value="History">History</option>
            <option value="Human Resource Management">Human Resource Management</option>
            <option value="Indigenous Knowledge, History, and Heritage">Indigenous Knowledge, History, and Heritage</option>
            <option value="Indonesian Studies">Indonesian Studies</option>
            <option value="Information Technology">Information Technology</option>
            <option value="Japanese Studies">Japanese Studies</option>
            <option value="Law">Law</option>
            <option value="Linguistics">Linguistics</option>
            <option value="Management">Management</option>
            <option value="Marine Science">Marine Science</option>
            <option value="Marketing">Marketing</option>
            <option value="Mathematics">Mathematics</option>
            <option value="Mechanical Engineering">Mechanical Engineering</option>
            <option value="Medicine">Medicine</option>
            <option value="Microbiology">Microbiology</option>
            <option value="Music">Music</option>
            <option value="Neuroscience">Neuroscience</option>
            <option value="Nursing">Nursing</option>
            <option value="Petroleum Engineering">Petroleum Engineering</option>
            <option value="Philosophy">Philosophy</option>
            <option value="Physics">Physics</option>
            <option value="Physiology">Physiology</option>
            <option value="Political Science and International Relations">Political Science and International Relations</option>
            <option value="Psychology">Psychology</option>
            <option value="Public Health">Public Health</option>
            <option value="Renewable Energy Engineering">Renewable Energy Engineering</option>
            <option value="Social Work">Social Work</option>
            <option value="Sociology">Sociology</option>
            <option value="Spanish Studies">Spanish Studies</option>
            <option value="Sport Science">Sport Science</option>
            <option value="Statistics">Statistics</option>
            <option value="Sustainable Development">Sustainable Development</option>
            <option value="Theatre Studies">Theatre Studies</option>
            <option value="Urban and Regional Planning">Urban and Regional Planning</option>
            <option value="Zoology">Zoology</option>
        </select><br>

        <label for="bio"  class="form-label">Bio:</label>
        <textarea class="form-control" name="bio" maxlength="200"></textarea><br>

        <input type="submit" class="form-control" value="Submit">

    </form>
</div>
{% endblock %}