{% extends "base.html" %}

{% block content %}

<div class="container">

    <p>Fill in the details below to create a profile.</p>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.fname.label }}<br>
            {{ form.fname() }}<br>
            {% for error in form.fname.errors %}
            <span class="errorMsg">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lname.label }}<br>
            {{ form.lname() }}<br>
            {% for error in form.lname.errors %}
            <span class="errorMsg">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username() }}<br>
            {% for error in form.username.errors %}
            <span class="errorMsg">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email() }}<br>
            {% for error in form.email.errors %}
            <span class="errorMsg">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.position.label }}
            {% for option in form.position %}
                <br>
                <tr>
                    <td>{{ option }}</td>
                    <td>{{ option.label }}</td>
                </tr>
            {% endfor %}
            {% for error in form.position.errors %}
            <span class="errorMsg">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.study.label }}<br>
            {{ form.study(size=5) }}<br>
            {% for error in form.study.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.bio.label }}<br>
            {{ form.bio() }}<br>
            {% for error in form.bio.errors %}
            <span class="errorMsg">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    
</div>
{% endblock %}