{% extends "base.html" %}

{% block content %}

<!--Just that section of wording-->
<h1>Welcome to the StudiVault Forum!</h1>
<h2 class = "subtitle">Use The Filters Or Search Bar Below To Find Your Answer</h2>


<div class = "selection-container">
  <!-- Dropdown menu for degrees -->
  <div class="topic-selection">
      <h1>Topics</h1>
      <label for="topics">Select a Topic</label>
      <select id="topics">
          {% for topic in grouped_posts.keys() %}
            <option value="{{ topic }}">{{ topic }}</option>
          {% endfor %}
          <!-- Add degree options here -->
      </select>
  </div>


  <!-- Placeholder for the dropdown menu for general topics -->
  <div class="subtopic-selection">
      <h1>Unit or Subject</h1>
      <label for="subtopic">Select a unit or subject</label>
      <select id="subtopic">
          <option value="">unit or subject</option>
          {% for topic, subtopic in subtopics %}
            <option value="{{ subtopic }}">{{ subtopic }}</option>
          {% endfor %}
          <!-- Add topic options here -->
      </select>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Search...">
    <button type="submit">Search</button>
  </div>
</div>




<div class="container">
  

  <div class="subForum">

    
    
    

    
    <!-- New Sub/chain -->
    {% for post in grouped_posts['All Topics'] %}
    
    <div class="subForumRow" data-topic="{{ post.topic }}">

      <div class="subForumIcon subForumColumn center">
        <i class="fa fa-book"></i>
      </div>


      <div class="subForumDescription subForumColumn">
          <div class = "Title">
            <h2 class="Heading"><a href="{{ url_for('viewpost', post_id=post.post_id) }}" class="boldInfoLink">{{ post.title }}</a></h2>
          </div>

          <p class="descriptionText">{{ post.description }}</p>
      </div>


      <div class="subForumStats subForumColumn center">
        <span> 24 posts </span>
      </div>


      <div class="subForumInfo subForumColumn">
        <a href="" class="boldInfoLink">Last Post</a> by <a href="" class="boldInfoLink"> AUser</a>
        <br>
        <small>3 Apr 2024</small>
      </div>
    </div>
    {% endfor %}
  </div>
</div> 




{% include "footer.html" %}

{% endblock %}




