<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
    <title>StudiVault - {{ title }}</title>
    {% else %}
    <title>StudiVault</title>
    {% endif %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    {% if title == "Forum"%}
    <link rel="stylesheet" href="{{ url_for('static', filename='forum.css') }}">
    <script src="{{ url_for('static', filename='forum.js') }}"></script>
    {% endif %}

    {% if title == "Profile"%}
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    {% endif %}

    {% if title == "Post"%}
    <link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}">
    <script src="{{ url_for('static', filename='post.js') }}"></script>
    {% endif %}

    {% if title == "ViewPost" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='viewpost.css') }}">
    {% endif %}

</head>

{% block content %}{% endblock %}

</html>