{% extends "base.html" %}

{% block content %}

<div class="container">

    <a href="{{ url_for('logout') }}">Log out</a>

    <p>Hi, {{ user.username }} ! Here is your profile.</p>

    <table class="table">
        <tr>
            <th>First Name</th>
            <td>{{ user.fname}}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ user.lname}}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>

        </tr>
        <tr>
            <th>Position</th>
            <td>{{ user.position }}</td>
        </tr>
        <tr>
            <th>Area of study</th>
            <td>
                {{ user.study }}
            </td>
        </tr>
        <tr>
            <th>Bio</th>
            <td>{{ user.bio }}</td>
        </tr>
    </table>

    <p>Here are your posts:</p>
    
    <div class="post-container">

        {% for post in posts %}

            <h1>{{ post.title }}</h1>
            <div class="post-info">
                <h3>{{ post.topic }} : {{ post.subtopic }}</h3>
            </div>
            <p><span class="bolded">Question: </span>{{ post.description }}</p>

        {% endfor %}

    </div>

    
    <p>Here are your comments:</p>

    <div class="comments-container">
        {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.comment_text }}</p>
            </div>
        {% endfor %}
    </div>



</div>





</div>


{% endblock %}