{% extends "base.html" %}

{% block content %}

<div class="container">

    <!-- Display any messages -->

    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <div class="alert alert-success alert-dismissible">
        {% for message in messages %}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Success!</strong> {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    <div class="alert alert-warning alert-dismissible">
        {% for message in messages %}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Error. </strong> {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!-- Display user details -->

    {% if current_user == user%}
    <p id="profile_intro">This is your profile.</p>
    {% else %}
    
    <p id="profile_intro">Welcome to {{ user.username }}'s profile.</p>
   
    {% endif %}

    <div id="user-details">
    <table class="table">
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{ user.fname}}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ user.lname}}</td>
        </tr>

        {% if current_user == user %}
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Position</th>
            <td>{{ user.position }}</td>
        </tr>
        <tr>
            <th>Area of study</th>
            <td>{{ user.study }}</td>
        </tr>
        <tr>
            <th>Bio</th>
            <td>{{ user.bio }}</td>
        </tr>
    </table>


    {% if current_user == user%}
    <div id="user-buttons">
        <a href="{{ url_for('main.logout') }}" class="profileButton">Log out</a>
        <a href="{{ url_for('main.editProfile') }}" class="profileButton">Edit Profile</a>
        <button type="button" class="profileButton" data-bs-toggle="modal" data-bs-target="#deleteUserModal">Delete Account</button>
    </div>
    {% endif %}
    </div>

    <!-- Display user's posts -->

    {% if posts %}

    <div class="subForum">
        <div class="subForumTitle">
            <h2>{{ user.username }}'s Posts</h2>
        </div>
    </div>

    {% for post in posts %}

    <div class="post">
        <p hidden class="hiddenPostId">{{ post.post_id }}</p>
        {% if current_user == user %}
        <button type="button" class="profileButton deleteBtn deletePostBtn" data-bs-toggle="modal" data-bs-target="#deletePostModal">Delete</button>
        <button class="profileButton editPostBtn">Edit</button>
        {% endif %}
        <a class='post_title boldInfoLink' href="{{ url_for('main.viewpost', post_id=post.post_id) }}">{{ post.title }}</a>
        <p>{{ post.topic }}: {{ post.subtopic }}</p>
        <p class="postDesc">{{ post.description }}</p>
        <p>({{ moment(post.timestamp | string_to_date).format('LLL') }})</p>
    </div>

    {% endfor %}

    {% endif %}

    <!-- Display user's comments -->

    {% if comments %}

    <div class="subForum">
        <div class="subForumTitle">
            <h2>{{ user.username }}'s Comments</h2>
        </div>
    </div>

    {% for comment in comments %}
        <div class="post">
            <p hidden class="hiddenCommentId">{{ comment.comment_id }}</p>
            {% if current_user == user %}
            <button type="button" class="profileButton deleteBtn deleteCommentBtn" data-bs-toggle="modal" data-bs-target="#deleteCommentModal">Delete</button>
            {% endif %}
            <p>{{ comment.comment_text }}</p>
            <p>({{ moment(comment.timestamp | string_to_date).format('LLL') }})</p>
        </div>
    {% endfor %}

    {% endif %}

    <!-- Based on code from https://www.w3schools.com/bootstrap5/tryit.asp?filename=trybs_modal_sm&stacked=h -->
    <!-- Modals -->
    <div class="modal" id="deleteUserModal">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Delete Account</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                Are you sure you want to delete your account?
                <br><br>Deleting your account will delete all your posts and comments.
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{{ url_for('main.deleteUser', user_id=user.id) }}" class="btn btn-danger active deleteButtonForModal">Delete Account</a>
              </div>
          </div>
        </div>
      </div>

      <div class="modal" id="deletePostModal">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Delete Post</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                Are you sure you want to delete your post?
                <br><br>All its comments will also be deleted.
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form class="modalForm" id="deletePostModalForm" method="get">
                    <button type="submit" class="btn active btn-danger">Delete Post</button>
                </form>
              </div>
          </div>
        </div>
      </div>

      <div class="modal" id="deleteCommentModal">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Delete Comment</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                Are you sure you want to delete your comment?
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form class="modalForm" id="deleteCommentModalForm" method="get">
                    <button type="submit" class="btn active btn-danger">Delete Comment</button>
                </form>
              </div>
          </div>
        </div>
      </div>

    <script src="{{ url_for('static', filename='profile.js') }}"></script>
</div>

{% endblock %}