{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Profile</h1>

    <p>Hi, {{ user.username }}! Here is your profile.</p>
</div>

<div class="container">
    <table>
        <tr>
            <th>Name</th>
            <td>{{ user.username }}</td>
            <td><button type="button">Edit <i class="fa fa-edit"></i></button></td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
            <td><button type="button">Edit <i class="fa fa-edit"></i></button></td>
        </tr>
        <tr>
            <th>Position</th>
            <td>{{ user.position }}</td>
            <td><button type="button">Edit <i class="fa fa-edit"></i></button></td>
        </tr>
        <tr>
            <th>Area(s) of study</th>
            <td>
                {% for study in user.study %}
                {{ study }},
                {% endfor %}
            </td>
            <td><button type="button">Edit <i class="fa fa-edit"></i></button></td>
        </tr>

        <tr>
            <th>Bio</th>
            <td>{{ user.bio }}</td>
            <td><button type="button">Edit <i class="fa fa-edit"></i></button></td>
        </tr>
    </table>

</div>



{% endblock %}