{% extends "base.html" %}

{% block content %}

<div class="container">

    <a href="{{ url_for('logout') }}">Log out</a>

    <p>Hi, {{ current_user.username }} ! Here is your profile.</p>

    <table class="table">
        <tr>
            <th>First Name</th>
            <td>{{ current_user.fname}}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ current_user.lname}}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ current_user.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ current_user.email }}</td>

        </tr>
        <tr>
            <th>Position</th>
            <td>{{ current_user.position }}</td>
        </tr>
        <tr>
            <th>Area of study</th>
            <td>
                {{ current_user.study }}
            </td>
        </tr>
        <tr>
            <th>Bio</th>
            <td>{{ current_user.bio }}</td>
        </tr>
    </table>
</div>


{% include "footer.html" %}

{% endblock %}