{% extends "base.html" %}

{% block content %}


<h1>Profile</h1>

{% if validatedUser %}

<div class="container">

<p>Hi, {{ user.username }}! Here is your profile.</p>

    <table class="table">
        <tr>
            <th>Name</th>
            <td>{{ user.fname}} {{  user.lname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>

        </tr>
        <tr>
            <th>Position</th>
            <td>{{ user.position }}</td>
        </tr>
        <tr>
            <th>Area(s) of study</th>
            <td>
                {% for study in user.study %}
                {{ study }},
                {% endfor %}
            </td>
        </tr>

        <tr>
            <th>Bio</th>
            <td>{{ user.bio }}</td>
        </tr>
    </table>

    <button type="button">Edit Profile <i class="fa fa-edit"></i></button>

</div>

{% else %}

<p>Please <a href="#home">log in</a> to see your profile.</p>

{% endif %}

{% endblock %}