{% extends "base.html" %}

{% block content %}

<body>
    <div class="post-container">
        <h1>{{ post.title }}</h1>
        <div class="post-info">
            <h3>{{ post.topic }} | {{ post.subtopic }}</h3>
        </div>
        <p><span class="bolded">Question: </span>{{ post.description }}</p>
    </div>

    <div class="comments-section">
        <div id="commentsTitle">
            <h2>Comments</h2>
        </div>
        <div class="comments-container">
            <div id="comments">
                {% for comment in post.comments %}
                    <div class="comment">
                        <p>{{ comment.comment_text }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="comment-form-container">
        <form id="commentForm">
            <input type="hidden" id="post_id" value="{{ post.post_id }}"> <!-- Hidden input field to store post_id -->
            <textarea name="comment_text" id="comment_text" placeholder="Add a comment"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='comment.js') }}"></script>
</body>

{% endblock %}